.triller
{
    animation-name: tril;
/*    animation-duration: 2.0s; */
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
    animation-iteration-count: infinite;
    transform: translateX(0);
}

@keyframes tril
{
  5%, 45%
    {
        transform: translateX(-2px);
    }

  10%, 40%
    {
        transform: translateX(4px);
    }

  15%, 25%, 35%
    {
        transform: translateX(-8px);
    }

  20%, 30%
    {
        transform: translateX(8px);
    }

    50%
    {
        transform: translateX(0);
    }
}
